.icon{
    height: 7.5rem;
    width: 6rem;
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
}

#html{
    background-image: url(../imagens/file-type-html.svg);
}
#css{
    background-image: url(../imagens/file-type-css.svg);
}
#js{
    background-image: url(../imagens/javascript.svg);
}
#java{
    background-image: url(../imagens/java.svg);
}
#mongodb{
    background-image: url(../imagens/mongodb-icon.svg);   
}
#git{
    background-image: url(../imagens/git-icon.svg);
}
#figma{
    background-image: url(../imagens/figma.svg);
}
#bootstrap{
    background-image: url(../imagens/bootstrap.svg);
}

#descricao{
    
}