.projetos{
    margin-top: 8rem;
    width: 100%;
}

.projTitulo{
  margin-bottom: 10px;
  padding: 0;
  font-size: 3.45rem;
}

.projsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.localProjs{
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;

}

.proj{
  width: 240px;
  height: 280px;
  margin-bottom: 2rem;
  background-position: center;
  background-repeat:no-repeat;
}

.proj:hover{
  transform: scale(1.05);
}

.maisProjetos{
  display: none;
}

.mostrarProjs{
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 13rem;
  padding: 0.2rem 0.7rem;
}


.breve{
  display: flex;
  background-color: grey;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.26);
  background-image: url(../imagens/breve.png);
  background-size: 8rem ;
  background-position-y:2rem;
}
.breve:hover{
  transform: scale(1);
}
.breve::after{
  display: flex;
  content: 'Em breve';
  font-size: 1.2rem;
  font-weight: 900;
  font-family: monospace;
  background: none;
  margin-top: 70%;
}

#pNuInvest{
  background-image: url(../imagens/Nuinvest.svg);
  background-color: purple;
}

#pMagister{
  background-image: url(../imagens/MagisterLogoBranco.png);
  background-color: slateblue;
  background-size: calc(100% - 3vw);
}

#pIMC{
  background-image: url(../imagens/breve\ \(1\).png);
  background-size: contain;
  background-color: goldenrod;
}