header{
    width: 100vw;
    display: flex;
    position: fixed;
    padding: 0.2rem 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    animation: down 0.5s linear;
}

@keyframes down {
    from{
        top: -1.5rem;
    }
    to{
        top: 0;
    }
}

header button{
    width: 10rem;
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

header nav{
    width: 80vw;
    display: flex;
    position: relative;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

header nav button{
    color: var(--azulEscuro);
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}


header nav div button{
    background-color: var(--laranja);
    color: white;
    padding: 0.6rem;
}

header nav div a{
    background: transparent;
}
.w3-dropdown-content{
    background-color: transparent;
}

.dropdownItem {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 0.5rem;
    background-color: var(--azulEscuro);
    text-align: start;
    align-items: center;
    gap: 1rem;
}


.w3-dropdown-content a{
    text-decoration: none;
}

.cvLocal{
    position: absolute;
}


.iconCV{
    width: 1.3rem;
    height: 1.3rem;
    background-position: center;
    background-size: contain;
}