nav{
    max-width: 100vw;
    background-color: whitesmoke;
}
nav button{
    border: 0;
    width: 2em;
    height: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
}
nav button:nth-child(1){
    background-image: url(../img/dark-mode.svg);   
}
nav button:nth-child(2){
    background-image: url(../img/hamburger-menu.svg);
}
#menu{
    display: none;
}
.menumobile{
    display: none;
}

@media (max-width: 800px) {
    .menumobile{
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top: 3em;
        right: 0px;
        position:fixed;
        height: 25vh;
        width: 18vh;
        background-color: whitesmoke;
    }
    .menumobile a{
        font-size: large;
    }



    nav{
        flex-direction: row-reverse;
    }
    nav button{
        width: 2em;
        height: 2em;
    }

    .bts{
        display: flex;
        align-items: center;
        justify-content: stretch;
        gap: 0.6em;
        width: 5.2em;
    }

    #menu{
        display: block;
    }

    


}