/**/
:root{
    --proj1: ".projs div a div";
    --proj2: ".projs div h5";
}

#projetos{
    padding: 5em 0;
}


.projs div{
    margin-bottom: 2em;
    align-items: center;
    justify-content: space-between;
}
.projs div a{
    display: flex;
    background-position: center;
    background-size: calc(120% - 2vw);
    background-repeat: no-repeat;
    height: calc(100vw + 2em);
    max-height: 400px;
    width: 203em;
    max-width: 280px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.349);
}
.projs div p{
    width: 150em;
    justify-items: start;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    font-size: large;
}

@media (max-width: 1000px) {
    .projs div p {
        max-width: 35vw;    
    }
}

.projs div:nth-child(2) a{
    background-image: url(/assets/img/2.png);
}
.projs div:nth-child(1) a{
    background-image: url(/assets/img/3.png);
}
.projs div:nth-child(3) a{
    background-image: url(/assets/img/1.png);
}
.projs div:nth-child(4) a{
    background-image: url(/assets/img/CHESS.png);
}