:root{
    --fs-section: black;
    --sd-section: ;
    --fonts-color: ;
}


body{
    color: rebeccapurple;
}

section{
    background-color: var(--main);
    width: 100vw;
}
body:nth-child(2) section:nth-child(2){
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--fs-section);
}
body:nth-child(2) section:nth-child(2) img{
    max-height: 320px;
}



body:nth-child(2) section:nth-child(3){
    width: 100px;
}