@import 'sobremim.css';
@import 'projetos.css';
@import 'habilidades.css';
@import 'footer.css';
@import 'navbar.css';

:root{
    --main: #E4E6EB;
    --secondary:#EAE8E4 ;
    --fonts-color: #000;
}

section{
    width: 100vw;
}

main{
    margin: 2em 0;
}

body{
    overflow-x: hidden;
}



body:nth-child(2) section:nth-child(2){
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
body:nth-child(2) section:nth-child(2) img{
    max-height: 320px;
}
#inicio, #projetos{
    background-color: var(--main);
}
#sobre-mim, #habilidades{
    background-color: var(--secondary);
}



@media (max-width: 800px) {
    #inicio{
        text-align: center;
    }
    #inicio img{
        display: none;
    }
    .projs div p{
        display: none;
    }
}
